html {
    background-color: #222;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* unvisited link */
a:link {
  color: #de8900;
}

/* visited link */
a:visited {
  color: rgb(250, 146, 1);
}

/* mouse over link */
a:hover {
  color: rgb(105, 235, 255);
}

/* selected link */
a:active {
  color: #985e00;
}


#content {
    border: 1px solid #de8900;
    margin: auto;
    padding: 1em;
    width: 80%;
}

#canvas {
    border: 1px solid #bbb;
    background-color: #333;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 640px;
    height: 480px;
}

#colorPicker {
    background-color: #555;
    border: none;
    color: #de8900;
    padding: 1em 1em;
    margin: 0.5em 0.5em;
    cursor: pointer;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    font-size: 1vw;
}   

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#nav {
    background-color: #555;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

#nav li {
    display: inline-block;
    text-decoration: none;
    color: #de8900;
    padding-right: 1em;
}

#readme {
    margin: auto;
    padding: .5em;
    width: 80%;
}

#toolbar {
    display: inline-flex;
    justify-content: right;
    margin-top: 1em;
}

#toolbar button {
    background-color: #555;
    border: none;
    color: #de8900;
    padding: 1em 1em;
    margin: 0.5em 0.5em;
    cursor: pointer;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    font-size: 1vw;
    
}

#workspace {
    display: flex;
    justify-content: center;
    align-items:normal;
    margin-top: 1em;
}